# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# SQLite Database
student_depression.db

# Environment Variables
.env

# VS Code Settings
.vscode/

# Operating System Files
Thumbs.db
.DS_Store